/*Assignment 2*/

/********** Base styles **********/
* {
  font-size: 100%;
  font-family: Luminari;
  box-sizing: border-box;
}
h1 {
  margin-bottom:10px;
  padding:  20px;
  color: black;
  text-align:  center;
  font-size: 175%;
}
p {
  text-align: left;
}

/*********** Custom Classes ***********/
.menu-section {
  font-weight: bold;
  color: black;
  border: 1px solid black;
  position: relative;
  min-height: 25vh;
  max-height: 500px;
  overflow: scroll;
}
.section-title {
  font-size: 125%;
  color: black;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  padding: 5px;
  margin: -11px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section-body {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.white-space {
  display:  inline-block;
  width: 100%;
  height: 50px;
}

/*********** Colorization ***********/
#pirate-body {
  background-color: lightseagreen;
}
#pirate {
  background-color: darkblue;
  color: white;
}
#hipster-body {
  background-color: lightgreen;
}
#hipster {
  background-color: darkgreen;
  color: white;
}
#kitteh-body {
  background-color: lightsalmon;
}
#kitteh {
  background-color: darkred;
  color: white;
}

/*********** Simple Responsive Framework ***********/
.row {
  width: 100%;
  padding: 10px;
}

/* Desktop devices */
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    --horizontal-margin: 0.8%;
    margin:  var(--horizontal-margin);
    margin-bottom: 30px;
  }
  .col-lg-1 {
    width: calc(8.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-2 {
    width: calc(16.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-3 {
    width: calc(25% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-4 {
    width: calc(33.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-5 {
    width: calc(41.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-6 {
    width: calc(50% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-7 {
    width: calc(58.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-8 {
    width: calc(66.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-9 {
    width: calc(74.99% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-10 {
    width: calc(83.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-11 {
    width: calc(91.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-lg-12 {
    width: calc(100% - calc(2 * var(--horizontal-margin)));
  }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    --horizontal-margin: 0.8%;
    margin:  var(--horizontal-margin);
    margin-bottom: 30px;
  }
  .col-md-1 {
    width: calc(8.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-2 {
    width: calc(16.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-3 {
    width: calc(25% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-4 {
    width: calc(33.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-5 {
    width: calc(41.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-6 {
    width: calc(50% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-7 {
    width: calc(58.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-8 {
    width: calc(66.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-9 {
    width: calc(74.99% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-10 {
    width: calc(83.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-11 {
    width: calc(91.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-md-12 {
    width: calc(100% - calc(2 * var(--horizontal-margin)));
  }
}

/* Mobile devices */
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    --horizontal-margin: 0.8%;
    margin:  var(--horizontal-margin);
    margin-bottom: 30px;
  }
  .col-sm-1 {
    width: calc(8.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-2 {
    width: calc(16.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-3 {
    width: calc(25% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-4 {
    width: calc(33.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-5 {
    width: calc(41.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-6 {
    width: calc(50% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-7 {
    width: calc(58.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-8 {
    width: calc(66.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-9 {
    width: calc(74.99% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-10 {
    width: calc(83.33% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-11 {
    width: calc(91.66% - calc(2 * var(--horizontal-margin)));
  }
  .col-sm-12 {
    width: calc(100% - calc(2 * var(--horizontal-margin)));
  }
}

/*********** For Ships and Goggles ***********/
body {
  text-align: center;
  background-color: azure;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h2 {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 5em;
}
h2:hover {
  animation-play-state: paused;
}
h3 {
  font-family: georgia;
}
a {
  color: #024794;
}
a:hover {
  text-decoration: none;
}

#container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@keyframes text-shadow {
  0% {  
    transform: translateY(0);
    text-shadow: 
    0 0 0 #0c2ffb, 
    0 0 0 #2cfcfd, 
    0 0 0 #fb203b, 
    0 0 0 #fefc4b;
  }

  20% {  
    transform: translateY(-1em);
    text-shadow: 
    0 0.125em 0 #0c2ffb, 
    0 0.25em 0 #2cfcfd, 
    0 -0.125em 0 #fb203b, 
    0 -0.25em 0 #fefc4b;
  }

  40% {  
    transform: translateY(0.5em);
    text-shadow: 
    0 -0.0625em 0 #0c2ffb, 
    0 -0.125em 0 #2cfcfd, 
    0 0.0625em 0 #fb203b, 
    0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 
    0 0.03125em 0 #0c2ffb, 
    0 0.0625em 0 #2cfcfd, 
    0 -0.03125em 0 #fb203b, 
    0 -0.0625em 0 #fefc4b;
  }

  80% {  
    transform: translateY(0);
    text-shadow: 
    0 0 0 #0c2ffb, 
    0 0 0 #2cfcfd, 
    0 0 0 #fb203b, 
    0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* ------------------- */